@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme inline {
  --font-sans: var(--font-geist);
}

@utility mesh-gradient {
  background-color: #f899ff;
  background-image:
    radial-gradient(at 77% 22%, hsla(268, 98%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 44% 23%, hsla(213, 76%, 65%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 95%, hsla(239, 80%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 71% 21%, hsla(265, 87%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 94% 46%, hsla(26, 71%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 56% 38%, hsla(258, 73%, 78%, 1) 0px, transparent 50%),
    radial-gradient(at 68% 63%, hsla(352, 83%, 73%, 1) 0px, transparent 50%);
}
