@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    background-image: radial-gradient(
        at 56% 11%,
        hsla(142, 61%, 77%, 0.1) 0px,
        transparent 50%
      ),
      radial-gradient(at 99% 57%, hsla(330, 71%, 52%, 0.1) 0px, transparent 50%),
      radial-gradient(at 80% 47%, hsla(264, 68%, 25%, 0.1) 0px, transparent 50%),
      radial-gradient(at 93% 40%, hsla(229, 69%, 63%, 0.1) 0px, transparent 50%),
      radial-gradient(at 98% 18%, hsla(142, 61%, 77%, 0.1) 0px, transparent 50%),
      radial-gradient(at 49% 84%, hsla(199, 60%, 61%, 0.1) 0px, transparent 50%);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-center font-grotesque font-bold;
  }

  h1,
  h2 {
    @apply mb-4 font-bold;
  }

  h3,
  h4 {
    @apply mb-1;
  }

  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  p {
    @apply max-w-prose font-sans;
  }

  .list > ul {
    @apply mb-1;
  }

  .list > ul > li:before {
    color: hsl(264, 46%, 70%);
    content: '↗';
    margin: 0 0.25em;
  }
}
