@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.75' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    background-attachment: fixed;
  }

  .dark {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.25' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    background-attachment: fixed;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-center font-grotesque font-bold;
  }

  h1,
  h2 {
    @apply mb-4 font-bold;
  }

  h3,
  h4 {
    @apply mb-1;
  }

  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  p {
    @apply max-w-prose font-sans;
  }

  .list > ul {
    @apply mb-1;
  }

  .list > ul > li:before {
    color: hsl(264, 46%, 70%);
    content: '↗';
    margin: 0 0.25em;
  }
}
