---
import RootLayout from './RootLayout.astro';
import GrainBackground from '../components/grain-background';
import Navigation from '../components/navigation';
import Link from '../components/ui/link.astro';
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from '../i18n/utils';

const { title, description } = Astro.props;

const pathname = Astro.url.pathname;
const route = pathname.split('/').pop() || '';

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);
const translatePath = useTranslatedPath(locale);
---

<RootLayout title={title} description={description}>
  <main class='flex relative gap-4 w-full max-w-screen-xl'>
    <div
      class='relative w-4 md:min-w-2xs xl:min-w-sm sm:min-h-screen sm:ml-4 sm:pb-4'
    >
      <div
        class='w-full h-full max-sm:w-4 md:max-w-2xs xl:max-w-sm fixed -z-10 sm:bottom-4 sm:rounded-b-full overflow-hidden'
      >
        <GrainBackground shape='waves' client:load />
      </div>
    </div>

    <article class='relative'>
      <section class='p-4 sm:pt-8 sm:px-12 flex justify-end'>
        <slot />
      </section>
      <footer class='absolute left-4 bottom-8 sm:left-8 z-40'>
        <Navigation
          client:load
          locale={locale}
          currentPath={pathname}
          alignment='left'
        >
          {
            route !== '/' && (
              <Link href={translatePath('/')} variant='secondary'>
                {t('nav.home')}
              </Link>
            )
          }
          {
            route !== 'about' && (
              <Link href={translatePath('/about')} variant='secondary'>
                {t('nav.about')}
              </Link>
            )
          }
          {
            route !== 'resume' && (
              <Link href={translatePath('/resume')} variant='secondary'>
                {t('nav.resume')}
              </Link>
            )
          }
          {
            route !== 'contact' && (
              <Link href={translatePath('/contact')} variant='secondary'>
                {t('nav.contact')}
              </Link>
            )
          }
        </Navigation>
      </footer>
    </article>
  </main>
</RootLayout>
